# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
Win32/
*.VC.db
*.VC.VC.opendb

# Build files
*.obj
*.ilk
*.pdb
*.tlog
*.pch
*.exe
*.dll
*.lib
*.ncb
*.sbr
*.bsc
/.vs/Escape/v17/Browse.VC.db
/.vs/Escape/v17/Browse.VC.db-wal
/.vs/Escape/v17/Browse.VC.db-shm
