# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
Win32/
*.VC.db
*.VC.VC.opendb

# Build files
*.obj
*.ilk
*.pdb
*.tlog
*.pch
*.exe
*.dll
*.lib
*.ncb
*.sbr
*.bsc
/Escape.aps
/Escape.vcxproj
/Escape.rc
